@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

body {
    background: rgb(189, 85, 85);
    background: linear-gradient(
      90deg,
      rgba(189, 85, 85, 1) 0%,
      rgba(240, 183, 183, 1) 54%,
      rgba(242, 216, 216, 1) 82%
    );
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  
  .pokemon-block,
  .pokemon-block-back {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  }
  
  .img-container {
    background-image: url("./blob.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .pokemon-block p {
    margin: 5px;
  }
  
  .name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
  }

  
  #spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .pagination {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }

  .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

  .flip-card:hover .card-container {
    transform: rotateY(180deg);
  }

  .pokemon-block,
  .pokemon-block-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .pokemon-block-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
  }

  .stat-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
  }.search_wrap{
	width: 500px;
	margin: 38px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
  background-color: #af4c4c;

	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: rgb(148, 12, 12);



}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .btn{
	right: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.search_wrap.search_wrap_1 .search_box .input{
	padding-right: 80px;}

 #Poke_search {
  font-size: 16px;
  border: none;
  border-radius: 5px;
 
} 

#search_Button {
  background-color: #af4c4c;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#previous a,
#next a {
    background-color: #af4c4c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
}

#previous a:hover,
#next a:hover {
    background-color: rgb(148, 12, 12)
}



.search_wrap {
    display: flex;
}

#home_button {
    background-color: #af4c4c;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Ajusta el margen a tu gusto */
}


.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
}

.stat-name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #2c3e50;
  letter-spacing: 1px;
  margin-right: 10px;
}

.barra-progreso {
  background-color: #3498db;
  height: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

.stats-container .stat-container {
  margin-top: 10px;
}

.stats-container .stat-container:not(:last-child) {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/* COLORES DE LOS TIPOS */

.water-type { background-color: #6890F0; color: #fff; }
.fire-type { background-color: #F08030; color: #fff; }
.grass-type { background-color: #78C850; color: #fff; }
.electric-type { background-color: #F8D030; color: #000; }
.poison-type { background-color: #A040A0; color: #fff; }
.ground-type { background-color: #E0C068; color: #000; }
.ice-type { background-color: #98D8D8; color: #000; }
.fighting-type { background-color: #C03028; color: #fff; }
.psychic-type { background-color: #F85888; color: #fff; }
.bug-type { background-color: #A8B820; color: #fff; }
.rock-type { background-color: #B8A038; color: #fff; }
.ghost-type { background-color: #705898; color: #fff; }
.steel-type { background-color: #B8B8D0; color: #000; }
.fairy-type { background-color: #EE99AC; color: #000; }
.normal-type { background-color: #A8A878; color: #fff; }
.flying-type { background-color: #A890F0; color: #fff; }
.poison-type { background-color: #A040A0; color: #fff; }
.dark-type { background-color: #705848; color: #fff; }
.dragon-type { background-color: #7038F8; color: #fff; }



